.new-album-modal {
    background-color: rgba(0, 36, 88, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    .modal-container {
        background-color: white;
        padding: 30px 50px;
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: column;
        box-shadow: 0 10px 30px #DBD8EA;
        width: 600px;
        border-bottom: 4px solid #FF5400;

        .modal-input-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-self: center;
            border-bottom: 1px solid #e9e9e9;
            margin-bottom: 20px;
            margin-top: 20px;

            .album-input {
                width: 100%;
                border: none;
                font-size: 16px;
                margin-left: 17px;
                &:focus {
                    outline: none;
                }
            }
        }
        .upload-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .drag-drop {
                border: 2px dashed #e0e1e4;
                padding: 20px;
                background-color: #EFF2F6;
            }
        }

        .modal-btn {
            display: flex;
            flex-flow: row;
            margin-top: 50px;

            .add-btn {
                margin-right: 18px;
                background-color: #FF5400;
                padding: 10px 40px;
                border: none;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 600;
                &:focus {
                    outline: none;
                }
                &:hover {
                    box-shadow: rgba(0, 36, 88, 0.35) 0px 5px 15px;
                }
            }

            .cancel-btn {
                padding: 10px 30px;
                border: none;
                color: #FF5400;
                border-radius: 5px;
                background-color: white;
                border: 2px solid #FF5400;
                cursor: pointer;
                font-weight: 600;

                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: white;
                    color: #002458;
                    border: 2px solid #002458;
                }
            }
        }
    }
}

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
    z-index: 10;
}

.thumbsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
};
  
.thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;

    .thumbInner {
        display: flex;
        min-width: 0;
        overflow: hidden;

        .thumbImg {
            display: block;
            width: auto;
            height: 100%;
        };
    };
};